{% extends "base.html" %}

{% block content %}


<section id="signup" class="signup-section">


    <div class="row d-flex justify-content-center">

        <!-- Image of Pet Cat. Display in laptopview, hide in mobile view -->
        <div class="mt-5 d-none d-md-block">
            <image src="{{ url_for('static', filename='image/cat.jpg')}}" width="480" height="650">
        </div>

        <div class="bg-light p-3 mt-5">

            <!--Form for user to enter their particular to sign up account-->
            <form action="{{ url_for('insert_user') }}" method="POST">

                <h5>
                    <label><h3>Sign up an Account to add Advertisment </h3></label><br><br>

                    <!-- Textbox to key in User Name -->
                    <label>User Name </label><br>
                    <input id="userName" name="userName" type="text" class="form-control" required><br><br>

                    <!-- Textbox to key in User Email -->
                    <label>Email </label><br>
                    <input id="userEmail" name="userEmail" type="email" class="form-control" required><br><br>

                    <!-- Textbox to key in User Contact Number -->
                    <label>Contact </label><br>
                    <input id="userContact" name="userContact" type="tel" class="form-control" required><br><br>
                </h5>

                <!--Button to add new user account-->
                <button type="submit" name="action" class="btn btn-primary mx-auto">Sign Up</button><br><br>
                
                <!-- Flash message for Existing User Name-->
                <strong>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          {% for message in messages %}
                            {{ message }}
                          {% endfor %}
                        {% endif %}<br><br>
                    {% endwith %}
                </strong>
                
                <p>Existing User? <a href="{{url_for('login')}}"> Log in here. </a></p>
                
            </form>
        </div>
    </div>

</section>

{% endblock %}