{% extends "base.html" %}

{% block content %}


<section id="signup" class="signup-section">
    <h5>
        <div class="container bg-light p-3 mt-5 mb-5">
            <!--Form for user to add in new Advertisment-->
            <form action="{{ url_for('insert_adv') }}" method="POST">
                <div>
                    <h3>Fill in the Details Below to Add Advertisment<br><br></h3>
                </div>
                <!-- Hide the user ID to prevent user to amend it -->
                <input id="userID" name="userID" type="text" value={{user_id}} class="form-control d-none">

                <!-- Textbox to key in Pet Name -->
                <label>Pet Name </label><br>
                <input id="petName" name="petName" type="text" class="form-control" required><br><br>

                <!-- Dropdown to select in Pet Category -->
                <div class="form-group">
                    <label for="petCat">Pet Category </label>
                    <select class="form-control" id="petCat" name="petCat">
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="bird">Bird</option>
                        <option value="hamster">Hamster</option>
                        <option value="rabbit">Rabbit</option>
                        <option value="fish">Fish</option>
                    </select>
                </div><br>

                <!-- Dropdown to select in Pet Gender -->
                <div class="form-group">
                    <label for="gender">Gender </label>
                    <select class="form-control" id="gender" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div><br>

                <!-- Textbox to key in color of the pet -->
                <label>Color </label><br>
                <input id="color" name="color" type="text" required class="form-control"><br><br>

                <!-- Textbox to key in age of the pet -->
                <label>Age </label><br>
                <input id="age" name="age" type="text" required class="form-control"><br><br>

                <!-- Textarea to key in description of the pet -->
                <label>Description </label><br>
                <textarea id="description" name="description" type="text" class="form-control" rows="5" required></textarea><br><br>

                <!--Submit Button to add the new Advertisment-->
                <button type="submit" name="action" class="btn btn-primary mx-auto">Add Advertisment</button>
            </form>
        </div>
    </h5>
</section>

{% endblock %}