{% extends "base.html" %}

{% block content %}


<section id="signup" class="signup-section">
    <div class="container d-flex justify-content-center p-3 mb-5">
        <h3>
            <!--Form to confirm delete advertisment-->
            <form action="{{url_for('delete_adv2')}}" method="POST">

                <!-- Hide the user ID to prevent user to amend it -->
                <div class="d-none">
                    <input id="adv_id" name="adv_id" type="text" value={{adv_id}}><br>
                </div>

                <!-- Button to delete the advertisment -->
                <div>
                    <button type="submit" name="action" class="btn btn-primary mx-auto">Confirm Delete?</button>
                </div>

            </form>
        </h3>
    </div>
</section>

{% endblock %}