{% extends "base.html" %}

{% block content %}


<section id="signup" class="signup-section">

    <div class="container bg-light pt-3 pb-3 mt-5">

        <!--Display the advertisment posted by user based on User ID-->
        
        <form action="{{url_for('update_adv')}}" method="POST">
            
            
            {% for num in pet%}
            <div class="border">
                
                <div>
                    <h3>My Advertisement<br></h3>
                </div>
                
                <h5>
                    <!-- Hide the user ID and advertisment ID to prevent user to amend it -->
                    <input id="adv_id" name="adv_id" type="text" value='{{num._id}}' class="d-none"><br>
                    <input id="user_id" name="user_id" type="text" value='{{num.user_id}}' class="d-none">

                    <!-- Textbox to amend Pet Name -->
                    <label>Pet Name: </label><br>
                    <input id="petName" name="petName" type="text" value='{{num.petName}}' class="form-control" required><br><br>

                    <!-- Textbox to amend Pet Category -->
                    <label>Pet Category: </label><br>
                    <input id="petCat" name="petCat" type="text" value='{{num.petCat}}' class="form-control" required><br><br>

                    <!-- Textbox to amend Pet Gender -->
                    <label>Gender: </label><br>
                    <input id="gender" name="gender" type="text" value='{{num.gender}}' class="form-control" required><br><br>

                    <!-- Textbox to amend color of the pet -->
                    <label>Color: </label><br>
                    <input id="color" name="color" type="text" value='{{num.color}}' class="form-control" required><br><br>

                    <!-- Textbox to amend age of the pet-->
                    <label>Age: </label><br>
                    <input id="age" name="age" type="text" value='{{num.age}}' class="form-control" required><br><br>

                    <!-- Textarea to amend description of the pet -->
                    <label>Description: </label><br>
                    <textarea class="form-control" rows="5" name="description" type="text" required>{{num.description}}</textarea>
                </h5>
            </div>

            <!--Button for user to update their advertisment-->
            <!--<button type="button" onclick="window.location.href='{{url_for('delete_adv', adv_id=num._id)}}'" class=" btn-lg btn-outline-dark">-->
            <button type="submit" name="action" class="btn btn-primary mx-auto">Update Advertisement</button>

            <!--Button for user to go to Delete Advertisement page-->
            <button type="button" onclick="window.location.href='{{url_for('delete_adv', adv_id=num._id)}}'" class="btn btn-primary mx-auto">Delete</button>
            {% endfor %}
            
            <br><br>
            <!-- Display Flash Message for User 
                1) No Advertisement. Prompt User to add Advertisment
                2) Advertisment update succesfully
            -->
            <strong>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </strong>
        </form>
        

    </div>
    
</section>
<br><br>

{% endblock %}