{% extends "base.html" %}

{% block content %}


<section id="signup" class="signup-section">

    <div class="row d-flex justify-content-center">

        <!-- Image of Pet Bird. Display in laptop view, hide in mobile view -->
        <div class="mt-5 d-none d-md-block">
            <image src="{{ url_for('static', filename='image/bird.jpg')}}" width="410" height="620">
        </div>

        <div class="bg-light p-3 mt-5">
            <!--Form that display the particular of the user-->
            <form action="{{url_for('update_user')}}" method="POST">
                {% for num in user%}
                <h5>
                    <!-- Hide the user ID to prevent user to amend it -->
                    <input id="user_id" name="user_id" type="text" value={{num._id}} class="form-control d-none"><br><br>

                    <!-- Textbox to amend User Name -->
                    <label>User Name</label><br>
                    <input id="myName" name="myName" type="text" value={{num.userName}} class="form-control" required><br><br>

                    <!-- Textbox to amend User Email -->
                    <label>User Email</label><br>
                    <input id="myEmail" name="myEmail" type="email" value={{num.userEmail}} class="form-control" required><br><br>

                    <!-- Textbox to amend User Contact Number -->
                    <label>User Contact</label><br>
                    <input id="myContact" name="myContact" type="tel" value={{num.userContact}} class="form-control" required><br><br>
                </h5>

                <div>
                    <!--Button for user to update their particular-->
                    <button type="submit" name="action" class="btn btn-primary mx-auto">Update My Details</button>&nbsp &nbsp
    
                    <!--Button for user to add in new Advertisement-->
                    <button type="button" onclick="window.location.href='{{url_for('add_adv', user_id=num._id)}}'" class="btn btn-primary mx-auto">Add Advertisement</button>&nbsp &nbsp
                </div><br>
                
                <div>
                    <!--Button for user to view their Advertisement-->
                    <button type="button" onclick="window.location.href='{{url_for('my_adv', user_id=num._id)}}'" class="btn btn-primary mx-auto">My Advertisement</button>&nbsp &nbsp 
                    
                    <button type="button" onclick="window.location.href='{{url_for('mysearch')}}'" class="btn btn-primary mx-auto">Log Out</button>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>

</section>

{% endblock %}