 <form action="{{url_for('update_user')}}" method="POST">
     <div>
         {% for num in user%}
         <label>User ID</label>
          <input id="user_id" name="user_id" type="text" value={{num._id}} ><br>
          <label>User Name</label>
          <input id="myName" name="myName" type="text" value={{num.userName}} ><br
          <label>User Email</label>
          <input id="myEmail" name="myEmail" type="text" value={{num.userEmail}} ><br>
          <label>User Contact</label>
          <input id="myContact" name="myContact" type="text" value={{num.userContact}} ><br>
     
          <div>
            <button type="submit" name="action">Update My Details</button>
            <a href="{{url_for('my_adv', user_id=num._id)}}" >My Advertisement</a>&nbsp &nbsp
          </div>
          {% endfor %}
     </div>         
    
 </form>