<!doctype html>
<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- My Style CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/style.css')}}">

    
    <title>A Helping Paw</title>
  </head>
  
  <body>
    <div class="container mt-5 mb-4" >
        <div class="row">
            <div class="col-md-1 d-flex justify-content-center">
                <image src ="{{ url_for('static', filename='image/Logo.png')}}" width="100" height="100">
            </div>
            <div class="col-md-4 navbar-brand">
                <h1>
                    A Helping Paw
                </h1>
            </div>
            <div class="col-md-6 col-sm-12 float-md-right"> 
                <!--Buttton foruser to go to Sign Up page-->
                <button type="button" onclick="window.location.href='{{url_for('mysearch')}}'" class="btn-lg btn-sm-md btn-outline-dark pr-3 float-md-right">Home Page</button>&nbsp &nbsp
                
                <!--Buttton foruser to go to Sign Up page-->
                <button type="button" onclick="window.location.href='{{url_for('add_user')}}'" class="btn-lg btn-sm-md btn-outline-dark pr-3 float-md-right">Sign Up</button>&nbsp &nbsp
                        
                <!--Button for user to go to Log In page-->
                <button type="button" onclick="window.location.href='{{url_for('login')}}'" class=" btn-lg btn-outline-dark float-md-right">Login</button><br><br>
            </div>
        </div>
    </div>
    
    <div class="container d-flex justify-content-center p-2 mb-3 id="searchCss"">
    <!--Form for user to search for their pets through Pet Category-->
        <form action="{{url_for('showsearch')}}" method="POST">
            <div>
                <div class = "d-flex justify-content-center">
                    <h4>Tell me your ideal pet to adopt:</h4>
                </div><br>
                <div class = "row d-flex justify-content-center">
                    
                    <input  id="searchPetCat" name="searchPetCat" type="text" required> 
                  
                    <button type="submit" name="action" class="btn-lg">Search</image></button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="container">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                 <!--Introduction of the website-->
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         <h3 class="text-dark d-flex text-justify">About Us</h3>
                </button>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body text-secondary">
                     Pets are abandoned every day. In 2011, there were 7,081 animals– up to 50 per cent were unwanted or abandoned pets. 
                    3,169 were domestic pets like dogs, cats, rabbits, hamsters and guinea pigs often abandoned at void decks. Many animals are left at a shelter 
                    homes. Many shelter homes unable to cope with the increased number of incoming animals, due to a lack of space and limted financial resources.<br><br>
                    
                    A Helping Paw was establised in 2017 in mission to help these poor animals to find a new Home. We strongly believe these animals deserve a second chance at life.
                    We provided a FREE Advertisement Space to Shelter Homes and Pet Owner to post the profile of the animals. <br><br>
                    
                    We believe that YOU who is searching for a buddy in your life can provide them a safe and comfortable Home. <br><br>
              </div>
            </div>
          </div>
          
          <!--Information to user on why adoption is better then purchasing a pet from store-->
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h3 class="text-dark">4 Reasons to Adopt A Pet Than Buy One</h3> 
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body text-secondary">
                <div>
                    <h5>
                        1. Don’t Just Save One Life, Save Two Instead
                    </h5>
                    <div>
                        As much as animal shelters want to provide the best, there is only so much they can do.
                        Most animal shelters run out of space every day. Too many pets come into shelters 
                        and too few people consider pet adoption. It’s a hard pill to swallow to know that pets that 
                        are less likely adopted are usually euthanised. Animal shelters simply cannot afford to house 
                        all of them in a limited space. When you plan to get a pet, choose to adopt instead. Not only 
                        do you provide a pet with a second chance as an additional family member, but you also free up 
                        shelter space for another pet’s desperate need. 
                    </div>
                </div><br>
                <div>
                    <h5>
                        2. Adopted Pets Are Not Bad, Old Or Unhealthy
                    </h5>
                    <div>
                        It is important to understand that most pets wind up in shelters due to external factors. 
                        More often than not, the prevailing reasons for pets in shelters are due to abuse, financial 
                        constraints, relocation and abandonment. Another common misconception of shelter pets is that 
                        they are old and unhealthy. However, that is not usually the case! <br><br>
        
                        Most animal shelters in Singapore have a professional veterinarian to tend to the pets’ health 
                        conditions. Aside from receiving yearly examinations, the pets are also regularly vaccinated, 
                        neutered and fed. When you adopt, you actually give a healthy pet a new home in return. 
                    </div>
                </div><br>
                <div>
                    <h5>
                        3. Cost-Friendly
                    </h5>
                    <div>
                        Simply put, adoption is easier on your pocket than buying a pet. Animal shelters already take care 
                        of microchipping and spaying/neutering during the adoption. Rather than buying a pet that requires 
                        to be taken to the vet for vaccinations, you save money by having the first round of vaccination 
                        for your pet at the shelter. Furthermore, many of the pets in shelters are already house-trained 
                        and used to living with families. When you adopt, you not only save the upfront medical costs but 
                        you also save on housebreaking and training expenses. 
                    </div>
                </div><br>
                <div>
                    <h5>
                        4. Stop Irresponsible Breeding
                    </h5>
                    <div>
                        When you buy a pet from a pet store, be it a dog or a cat, you can never be certain if they are 
                        spawned from irresponsible breeders. Often known as a puppy/kitten mill, these organisations put 
                        profit above the welfare of animals. They have no care in the world for the well-being of the pets 
                        they take in. Time and again, these breeding facilities keep pets in shockingly tiny, wired cages. 
                        After which, they force the caged-up pets to breed repeatedly. These pets do not have the vaguest 
                        clue of what human companionship is with little hope of ever joining a family. <br><br>
        
                        When the pets are no longer profitable, they are simply discarded – routinely abandoned or killed. 
                        The correlation between these irresponsible breeders and pet stores is that most pet stores are in 
                        the dark as to where they are getting their pets. When you adopt, not only do you find yourself a 
                        new furry friend, you also do your part to deter these irresponsible breeders profiting from their 
                        ill-advised ethics.
                    </div>
                </div>
            </div>
          </div>
          
          <!--Information to user on the factors to consider before adoption-->
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h3 class="text-dark">Things to Think About Before You Decide to Adopt</h3>
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body text-secondary">
                    Owning an animal is a significant responsibility and one which needs to be properly thought through.
                    Being a responsible pet owner means taking care of all the animal’s day-to-day needs, giving them lots of love, 
                    affection, and attention and making sure they receive proper veterinary care when they fall ill. 
                    You need to consider whether you have the time, space, energy and passion it takes to provide a pet with a forever 
                    home where they will be happy and healthy. <br><br>
    
                    If you are keen on our pet adoption program, you can start your search for your buddy by reading the pet profiles we have listed below. 
                    Each individual profile lists the animal’s name, sex and estimated age as well as a little bit about their temperament and idiosyncrasies. 
                    If you are interested in a particular pet, simply contact the number or email provided beside each profile.
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="mb-5"></div>
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>







