{% extends "base.html" %}

{% block content %}


<section id="signup" class="signup-section">
    <div class="text-center">
        <h3>Search for the Pet</h3>
    </div>
    
    <div class="container-fuid d-flex justify-content-center m-5">
        
        <!--Form for user to search for their pets through Pet Category-->
          <form action="{{url_for('showsearch')}}" method="POST">

            <div class="row d-flex justify-content-center">

                <!-- Textbox to key in the Pet to search -->
                <input id="searchPetCat" name="searchPetCat" type="text"  placeholder="dog, cat, bird, ..." required><br>
                
                <!-- Button to search for Pet -->
                <button type="submit" name="action" class="btn btn-primary">Search</button>

            </div>
          </form>
        </div>

    <h5>
        <div class="container p-3 bg-light">

            <!-- Display the search based on Pet Category  -->
            {% for num in pet %}
                <div class="border p-4">
                    Advertisement ID: {{num._id}} <br> 
                    Pet Name: {{num.petName}} <br> 
                    Pet Category: {{num.petCat}} <br> 
                    Gender: {{num.gender}} <br> 
                    Color: {{num.color}} <br> 
                    Age: {{num.age}} <br> 
                    Description: {{num.description}}<br><br> 

                    <!-- Display the person to contact if the ID of the User Collection match the user ID in the Pet Collection -->
                    {% for row in user %} 
                        {% if num.user_id == row._id %} 
                            Posted by: {{ row.userName }}<br> 
                            Email: {{ row.userEmail }}<br> 
                            Contact: {{ row.userContact }}<br><br>
                        {% endif %} 
                    {% endfor %}
                </div>
            {% endfor %}

        </div><br>
    </h5>

</section>

{% endblock %}