{% extends "base1.html" %}

{% block content %}


<section id="signup" class="signup-section">
    <div class="text-center">
        <h3>Search for your Pet</h3>
    </div>
    
    <div class="container-fuid d-flex justify-content-center m-5">
        
        <!--Form for user to search for their pets through Pet Category-->
          <form action="{{url_for('showsearch')}}" method="POST">

            <div class="row d-flex justify-content-center">

                <!-- Textbox to key in the Pet to search -->
                <input id="searchPetCat" name="searchPetCat" type="text"  placeholder="dog, cat, bird, ..." required><br>
                
                <!-- Button to search for Pet -->
                <button type="submit" name="action" class="btn btn-primary">Search</button>

            </div>
          </form>
        </div>

        <div class="container p-3 bg-light">
     
            <!-- Display No Search Result. Prompt User to Search -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              {% endif %}
            {% endwith %}
            
            <!-- Display the search based on Pet Category  -->
            {% for num in pet %}
                <div class="border p-4">
                    <div class='row'>
                        <div class='col-sm-12 col-md-5 text-capitalize'>
                            Name:     <h5> {{num.petName}} </h5><br> 
                            Category: <h5> {{num.petCat}} </h5><br> 
                            Gender:   <h5> {{num.gender}} </h5><br> 
                            Color:    <h5> {{num.color}} </h5><br> 
                            Age:      <h5> {{num.age}} </h5>
                        </div>
                        
                        <div class='col-sm-12 col-md-7'>
                            <h5>Description:<br><br> {{num.description}}<br><br> 
                        </div>
                        
                    </div>
                </div>
                <div class='row border bg-secondary text-white'>
                    <!-- Display the person to contact if the ID of the User Collection match the user ID in the Pet Collection -->
                    {% for row in user %} 
                        {% if num.user_id == row._id %}
                            <div class='col-sm-12 col-md-4'>
                                Posted by: <h5> {{ row.userName }} </h5>
                            </div>
                            <div class='col-sm-12 col-md-4'>
                                Email: <h5> {{ row.userEmail }} </h5>
                            </div>
                            <div class='col-sm-12 col-md-4'>
                                Contact: <h5> {{ row.userContact }} </h5>
                            </div>
                        {% endif %} 
                    {% endfor %}
                </div><br><br><br>
            {% endfor %}

        </div>

</section>

{% endblock %}